<!DOCTYPE html>

<html>
<head>
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="Reg_page.css" />
	<link rel="stylesheet" href="fonts/fontawesome/css/all.min.css"/>
</head>
<body>

	<img src="reg2.png" class="reg_pic" alt="reg_pic">

	
      <div class="container" >
		<img src="regx.png" class="login_pics" alt="Login_pics" />
			 
		  <form action="login_page.html">
			  <div class="avatar">
				  <img src="reg1.png" alt="avatar"/>
			  </div>
				 
			  <div>
				  <h3 class="log_text">REGISTER</h3>
			  </div>
                
			<div class="first unity">
				<label for="firstname">First Name</label>
				<br>
				<input type="text" name="Firstname"/><br>
			

			
				<label for="lastname">Last Name</label>
				<br>
				<input type="text" name="lastname"/><br>

			

	
				<label for="usernamme">Username</label>
				<br>
				<input type="text" name="username"/><br>

			

			
				<label for="dob">Date of Birth</label><br>
				<input type="date" name="date"/><br>
			

		
				<label for=" Gender">Gender</label>
				<br>
				<select class="select">
					<option>Male</option>
					<option>Female</option>
				</select><br>
			

			
				<label for="Email">Email</label><br>
				<input type="email" name="email" /><br>
			

			
				<label for="password">Password</label><br>
				<input type="password" name="password"/>
			</div>
			<button href ="">Submit <i class="fa fa-paper-plane"></i></button>
			  
		  </form>
	  </div>


<script src="fonts/fontawesome/js/all.min.js"></script>
</body>
</html>